body {margin:0; color:#eee; background:#111; font-size:12pt;
      font-family:monospace; overflow: hidden}

::-webkit-scrollbar {width:8px; height:8px}
::-webkit-scrollbar-track {background:rgba(255,255,255,0.1)}
::-webkit-scrollbar-thumb {background:rgba(255,255,255,0.5)}

*:focus, *:hover {opacity: 1 !important}

#status {position:absolute; right:2px; bottom:2px; width:300px;
         opacity:0.2; font-size:10pt; text-align:right}

#top-controls {position:absolute; left:0; top:0; font-size:12pt}
#transform {opacity:0.25; background:none; color:#eee; height:4em;
            font-family:monospace; border:none; outline:none}

#transform:focus, #transform:hover {background:rgba(17,17,17,0.75)}

#preview {z-index:1; display:none; color:#eee;
          position:absolute; left:2px; overflow:auto}
